---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
ColumnLimit: 100
NamespaceIndentation: None
SortIncludes: CaseInsensitive
PointerAlignment: Left
ReferenceAlignment: Left
SpacesBeforeTrailingComments: 2
Standard: c++20
...
